{% extends "base.html" %}
<head>
    {% block title %}{{ post['title'] }}{% endblock %}
</head>
<body>
    {% block content %}
    <div class="container border rounded mt-3">
            <div class="text-center mt-3">
                <h1>{{ post.title }}</h1>
                <h3>by {{ post.author.username }}</h3>
            </div>
        
        <hr>
        <div class="container" style="white-space: pre-wrap">
            {{ post.body }}
        </div>
        
    </div>
        {% if user.is_authenticated %}
            {% if user.id==post.author.id %}
                <hr>
                <a class="btn btn-info" href="{{ url_for('post.update', id=post['id']) }}">Edit</a>
                <a class="btn btn-danger" href="{{ url_for('post.delete', id=post['id']) }}">Delete</a>
            {% endif %}
            {% if liked %}
                <a href="{{ url_for('post.dislike', id=like['id'], post_id=post['id']) }}" class="btn btn-success">
                    <i class="fas fa-heart fa-lg"></i>
                </a>
            {% else %}
                <a href="{{ url_for('post.votes', id=post['id']) }}" class="btn btn-success">
                    <i class="far fa-heart fa-lg"></i>
                </a>
            {% endif %}
        {% endif %}
    {% endblock %}

</body>
</html>